  <div class="title-style">
    <h4>Small sample of blogs from previous personal website:</h4>
  </div>
  <div class="card">
    <%= link_to 'New', new_blog_url %>
    <%= source_helper("alert alert-warning") %>
    <div class="blog-group">
      <div class=" row <%= "sortable" if logged_in?(:site_admin) %>">
        <%= render @blogs %>
      </div>
  </div>