<div class="blog-show">
  <%= link_to 'Back', blogs_path %>
  <%= link_to 'Edit', edit_blog_url %>
  <div class="card">

    <h2><%= @blog.title %></h2>

    <%= @blog.body %>
    </div>
  </div>
</div>