<div>
  <div class="card">
    <h3>Most of These Are Availabe at My Repl.it Profile Via the Link in the "Contact" Section (Sometimes Heroku Doesn't Load the Images)</h3>
  </div>
  <div class="portfolio-index">
    <%= source_helper("alert alert-warning") %>
    <div>
      <div class=" row <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>