<div class="app-card-container">
  <div class="card">
    <div class="skill">
      <%= image_tag "computer_code.jpg", width: '78%', alt: "Image still loading", class: "about-img" %>
    </div>
    <div class="skill">
      <h2>Percentage of Abilities - Each Skill</h2>
    </div>

    <hr>

    <div class="row">
      <div class="skills">
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
        <% end %>
        <p>
        "I am a diversified computer programmer and knowledgable software developer. Over the course of three years I have covered the spectrum of deeply studying and applying the languages of website applications as well as computing languages such as C++. My experience includes working off Basecamp to-do tasks and submitting them directly to clients working under the company manager/senior developer."
        </p><br />
        <p>
          <button
            class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#resume"
              aria-expanded="false"
              aria-controller="resume"
          >
          Resume (Please click and Scroll Down)
          </button>
        </p>

        <p>
          <div class="collapse" id="resume">
            <div class="card-block">
              <h2>Internet Builder Consultants</h2><br/>
              <p>2018</p><br/>
              <p>Worked under senior developer for website application during a temporary company revitalization phase. Submitted website updates tested in nGinX drectly to the client via Basecamp.</p><br />
              <p>Platform was ASP with MySQL, PHP, VBScript, JavaScript, others</p>
            </div>
            <div class="card-block">
              <h2>Hummingbird</h2><br/>
              <p>2012-2018</p><br/>
              <p>C++ maturity rating scan for books, experiments in Ruby and JavaScript</p><br />
              <p>Large software development phase 2012-2016 = 2.5 second performance (each book scan)</p>
            </div>
            <div class="card-block">
              <h2>Narrati√</h2><br/>
              <p>2016-2018</p><br/>
              <p>Led production of my start-up application beta phase with several freelancers, debugging and writing program fixes myself along the way.</p><br />
              <p>Rails app for novelists- a monetized social media platform</p><br />
              <p>Professional project in development for sale to investors</p><br />
            </div>            
          </div>
        </p>
      </div>
    </div>
  </div>
</div>