<div class="app-card-container">
  <div class="card">
    <div class="skill">
      <%= image_tag "computer_code.jpg", width: '78%', alt: "Image still loading", class: "about-img" %>
    </div>
    <div class="skill">
      <h2>Percentage of Abilities - Each Language</h2>
    </div>

    <hr>

    <div class="row">
      <div class="skills">
        <% @skills.each do |skill| %>
          <div class="skill">
            <h4><%= skill.title %></h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                aria-valuenow="<%= skill.percent_utilized %>"
                aria-valuemax="100"
                style="width: <%= skill.percent_utilized %>%"
              ></div>
            </div>
          </div>
        <% end %>
        <p>
        "I am a diversified computer programmer and knowledgable software developer. In three years I have covered the spectrum of deeply researching and applying the languages of website applications and computing languages such as C++ in professional projects. My experience includes working on and submitting Basecamp to-do tasks directly to the client. I routinely engage in several blog communities and attend programming events. My unique background coming from fictional writing publishing projects has made me a mid-level programmer with the skillsets of a senior level programmer- perfect for joining any robust start-up or mid-level position. I also have strong debugging and testing skills for the backend." 
        </p><br /><p>
        "Feel free to follow the directions in the comments for this portfolio's repository release where you can use this appication as a site administrator locally to see more features (such as clicking and dragging the portfolio items) here: <span><a href="https://github.com/GProSoftware828/devcamp-portfolio/releases/tag/4.1.4">Version 4.1.4</a></span>"
        </p><br />
        <p>
          <button
            class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#resume"
              aria-expanded="false"
              aria-controller="resume"
          >
          Resume Main Items (Please click and Scroll Down)
          </button>
        </p>

        <p>
          <div class="collapse" id="resume">
            <div class="card-block">
              <h2>Internet Builder Consultants - ASP with MySQL, PHP, VBScript, JavaScript</h2><br/>
              <p>2018</p><br/>
              <p>Worked under senior developer for website application during a temporary company revitalization phase. Submitted website updates that I tested in nGinX drectly to the client via Basecamp.</p><br />
            </div>
            <div class="card-block">
              <h2>Hummingbird - C++, JavaScript, Ruby</h2><br/>
              <p>2012-2018</p><br/>
              <p>C++ maturity rating scan for books, experiments in Ruby and JavaScript, possible patents involved in the long term.</p><br />
              <p>Copyrighted software owned by George Payne in USA from 2016</p>
              <p>Large software development phase 2012-2016 = 2.5 second performance (each book scan)</p>
            </div>
            <div class="card-block">
              <h2>Narrati√ - Ruby on Rails</h2><br/>
              <p>2016-2018</p><br/>
              <p>Led production of my start-up application beta phase with several freelancers, debugging and writing program fixes myself along the way.</p><br />
              <p>Rails app for novelists- an instantly monetized social media style alternative to self-publishing</p><br />
              <p>Start-up application in development for sale to investors</p><br />
            </div>
            <div class="card-block">
              <h2>www.authorgeorgiepayne.com - HTML5, CSS3, jQuery, JavaScript</h2><br/>
              <p>2016-2018</p><br/>
              <p>My first live project as a programmer- static personal website hosted via FileZilla on cPanel.</p><br />
              <p>Had link to watch movie on Vimeo via PayPal for $1.50.</p><br />
              <p>Ran a blog based on psychology in entertainment.</p><br />
            </div>             
          </div>
        </p>
      </div>
    </div>
  </div>
</div>