<main role="main" class="inner cover">
  <h1 class="cover-heading">George Payne - Digital Resume</h1>
  <div class="card">
    <p class="lead" style="color: black">Please take five minutes to explore. Click the dropdown navigation box to the left or check out my resume page at the button below.</p><br/>
    <p class="lead" style="color: black">Visit the Contact page to follow the links for further due diligence and then send me an email!</p><br/>
  </div>
  <br />
  <a href="about" class="btn btn-lg btn-secondary">My Resume</a>
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Copyright Georgie Payne 2019</p>
  </div>
</footer>
</div>