<main role="main" class="inner cover">
  <h1 class="cover-heading">George Payne - Portfolio</h1>
  <div class="card">
    <p class="lead" style="color: black">This is my collection of blog posts and portfolio items. Please click the dropdown navigation box to the left to explore.</p><br/>
    <p class="lead" style="color: black">Check out my resume at the button below, then follow the links on the Contact page.</p><br/>
  </div>
  <br />
  <a href="about" class="btn btn-lg btn-secondary">My Resume</a>
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Copyright Georgie Payne 2019</p>
  </div>
</footer>
</div>