// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-card-container {
  color: black;
  text-align: left;
}
  .card {
    padding: 40px;
  }

.about-img {
  border: 3px solid blue;
}

.skill {
  margin: 10px;
  padding: 10px;
}